<ion-view title="Adicionar Pet" id="page6" style="">
  <ion-content padding="true" class="has-header">
    <form id="adicionarPet-form7" class="list">
      <div class="spacer" style="width: 285.833px; height: 90px;"></div>
      <label class="item item-input" id="adicionarPet-input12">
        <input placeholder="Nome" type="text" ng-model=data.nomePet>
      </label>
      <div class="spacer" style="height: 9px;"></div>
      <label class="item item-input" id="adicionarPet-input13">
        <input placeholder="Data de Nascimento" type="text" ng-model=data.dataNascimento>
      </label>
      <div class="spacer" style="height: 9px;"></div>
      <label class="item item-select" id="adicionarPet-select1">
        <span class="input-label">Raça</span>
        <select ng-model="data.raca_id" data-ng-options="raca.id as raca.Nome for raca in racas">
        </select>

        <!-- <select ng-model="data.raca">
          <option ng-repeat="raca in racas" value="{{raca.id}}">{{raca.Nome}}</option>
        </select>
         -->
        <!--
        <select ng-model="data.raca" ng-options="raca.Nome for raca in racas track by raca.id">
        </select>
        -->
      </label>
    </form>
    <button id="adicionarPet-button16" class="button button-balanced  button-block" ng-click="submit()"  ng-disabled="submitting">Salvar</button>
  </ion-content>
</ion-view>
