<ion-view title="Adicionar Pet" id="page6" style="">
  <ion-content padding="true" class="has-header">
    <form id="adicionarPet-form7" class="list">
      <div class="spacer" style="width: 285.833px; height: 90px;"></div>
      <label class="item item-input" id="adicionarPet-input12">
        <input placeholder="Nome" type="text">
      </label>
      <div class="spacer" style="height: 9px;"></div>
      <label class="item item-input" id="adicionarPet-input13">
        <input placeholder="Data de Nascimento" type="text">
      </label>
      <div class="spacer" style="height: 9px;"></div>
      <label class="item item-input" id="adicionarPet-input14">
        <input placeholder="Raça" type="text">
      </label>
    </form>
    <button id="adicionarPet-button16" class="button button-positive  button-block">Salvar</button>
  </ion-content>
</ion-view>