<ion-view title="Adicinar Dono" id="page5" style="">
    <ion-content padding="true" class="has-header">
        <h2 id="adicinarDono-heading3" style="color: rgb(0, 0, 0); font-weight: 400;">Novo Dono</h2>
        <div class="spacer" style="width: 285.833px; height: 42px;"></div>
        <form id="adicinarDono-form5" class="list">
            <div class="spacer" style="width: 285.833px;"></div>
            <label class="item item-input" id="adicinarDono-input6">
                <input placeholder="Nome" type="text" ng-model=data.nome>
            </label>
            <div class="spacer" style="height: 9px;"></div>
            <label class="item item-input" id="adicinarDono-input7">
                <input placeholder="Sobrenome" type="text" ng-model=data.sobrenome>
            </label>
            <div class="spacer" style="height: 9px;"></div>
            <label class="item item-input" id="adicinarDono-input8">
                <input placeholder="Endereço" type="text" ng-model=data.endereco>
            </label>
            <div class="spacer" style="height: 9px;"></div>
            <label class="item item-input" id="adicinarDono-input9">
                <input placeholder="Cidade" type="text" ng-model=data.cidade>
            </label>
            <div class="spacer" style="height: 9px;"></div>
            <label class="item item-input" id="adicinarDono-input11">
                <input placeholder="Telefone" type="tel" ng-model=data.telefone>
            </label>
        </form>
        <button id="adicinarDono-button13" class="button button-balanced  button-block" ng-click="submit()"  ng-disabled="submitting">Salvar Dono</button>
    </ion-content>
</ion-view>
