<ion-view title="Adicionar Visita" id="page9" style="">
  <ion-content padding="true" class="has-header">
    <div class="spacer" style="height: 90px;"></div>
    <form id="adicionarVisita-form11" class="list">

      <div class="spacer" style="height: 9px;"></div>
      <label class="item item-select" id="AdicionarVisitaLocal-select1">
        <span class="input-label">Pet</span>
        <select ng-model="data.idPet" data-ng-options="pet.id as pet.nomePet for pet in pets">
        </select>
      </label>
      <div class="spacer" style="height: 9px;"></div>
      <label class="item item-input" id="adicionarVisita-input18">
        <input placeholder="Data" type="date" ng-model=data.dataVisita>
      </label>
      <div class="spacer" style="height: 9px;"></div>
      <label class="item item-input" id="adicionarVisita-input19">
        <input placeholder="Descrição" type="text" ng-model=data.descricao>
      </label>
    </form>
    <button id="adicionarVisita-button17" class="button button-balanced  button-block" ng-click="submit()"  ng-disabled="submitting">Salvar</button>
  </ion-content>
</ion-view>
