<ion-view title="Alterar Pet" id="page1" style="">
  <ion-content padding="true" class="has-header">
  <table class="table pettable">
    <tr>
        <td><h3>Todos os Pets</h3></td>
        <td></td>
    </tr>
    <tr ng-repeat="pet in pets">
        <td>{{pet.nomePet}}</td>

        <td>
          <h2>  <a class="btn btn-primary icon ion-ios-redo " ui-sref="editeOPet({id:pet.id})"> </a> </h2>

        </td>
    </tr>
</table>


    <!-- <ion-list id="alterarPet-list1" >
      <ion-item class="item-avatar" id="alterarPet-list-item1" style="" ng-repeat="pet in pets" >
        <h2>{{pet.nomePet}}

          <a ui-sref="editeOPet" class="button icon-right ion-edit"></a>

=======
    <ion-list id="alterarPet-list1" >
      <ion-item class="item-avatar" id="alterarPet-list-item1" style="" ng-repeat="pet in pets" ng-click="submitting " ui-sref="editeOPet">
        <h2>{{pet.nomePet}}</h2>
        <h2>{{pet.dataNascimento}}</h2>
        <h2>{{pet.raca}}</h2> <!-- adicinarDono????????????????? Dono não é pet! Não iria funcionar nunca! E kd as diretivas? Não tem ng-repeat aqui! -->

      </ion-item>
    </ion-list>

  </ion-content>
</ion-view>

<!--Agora está trazendo os dados|!l-->
