<ion-view title="Edite o Pet" id="page8" style="">
  <ion-content padding="true" class="has-header">
    <form id="editeOPet-form10" class="list">
      <div class="spacer" style="height: 90px;"></div>
      <label class="item item-input" id="editeOPet-input15">
        <input placeholder="Nome" type="text">
      </label>
      <div class="spacer" style="height: 9px;"></div>
      <label class="item item-input" id="editeOPet-input16">
        <input placeholder="Data de Nascimento" type="text">
      </label>
      <div class="spacer" style="height: 9px;"></div>
      <label class="item item-input" id="editeOPet-input17">
        <input placeholder="Raça" type="text">
      </label>
    </form>
    <div class="spacer" style="height: 9px;"></div>
    <button id="editeOPet-button15" class="button button-balanced  button-block">Salvar</button>
  </ion-content>
</ion-view>
