<ion-view title="PetClinic" id="page4" style="">
  <ion-content padding="true" class="has-header">
    <h3 id="petClinic-heading2" style="color: rgb(0, 0, 0); font-weight: 400; text-align: center;">Seja Bem Vindo ao PetClinic!</h3>
    <div class="spacer" style="width: 285.833px; height: 40px;"></div>
    <a ui-sref="adicinarDono" id="petClinic-button9" class="button button-positive  button-block icon ion-ios-contact"> Adicionar Dono</a>
    <div class="spacer" style="width: 285.833px; height: 9px;"></div>
    <a ui-sref="adicionarPet" id="petClinic-button10" class="button button-positive  button-block icon ion-ios-paw"> Adicionar Pet</a>
    <div class="spacer" style="width: 285.833px; height: 9px;"></div>
    <a ui-sref="alterarPet" id="petClinic-button11" class="button button-positive  button-block icon ion-ios-paw"> Alterar Pet</a>
    <div class="spacer" style="width: 285.833px; height: 9px;"></div>
    <a ui-sref="adicionarVisita" id="petClinic-button12" class="button button-positive  button-block icon ion-ios-contact"> Adicionar Visita</a>
    <div class="spacer" style="width: 285.833px; height: 9px;"></div>
  </ion-content>
</ion-view>