<ion-view title=" Pets Visita " id="page1" style="">
  <ion-content padding="true" class="has-header">
    <ion-list id="visualizarPetsVisita-list1" >
      <ion-item class="item-avatar" id="visualizarPetsVisita-list-item1" style="" ng-repeat="pet in pets">
        <h2>{{pet.nomePet}}</h2>
        <h2>{{pet.dataNascimento}}</h2>
        <h2>{{pet.raca}}</h2>
      </ion-item>
    </ion-list>
    <button id="visualizarPetsVisita-button1" class="button button-balanced  button-block" ng-click="loadData()">Adicionar Visita</button>
  </ion-content>
</ion-view>
